.config/zsh/secret-aliases.zsh
.config/zsh/local.zsh
.config/zsh/.zsh_history
/.config/karabiner/karabiner/automatic_backups
/.config/karabiner/karabiner/karabiner_backup.json
.DS_Store
.config/yazi/plugins/
.config/yazi/flavors/
